{% extends "./partials/layout.njk" %}
{% set title = "The service is currently unavailable" %} 
{% block content %} 
<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">The service is currently unavailable</h1>
    <p>You'll be able to use the Book a Video Link service again in a short while</p>
  </div>
</div>
{% endblock %}
