{% extends "./partials/layout.njk" %}
{% set title = "The service is currently unavailable" %} 
{% block content %} 
<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">This service is currently unavailable</h1>
    <p>You will be able to use Book a video link with a prison at 6pm on Wednesday 8 February 2023.</p>
    <p>If you were booking a video link, we have not saved your booking. You will have to start again later.</p>
  </div>
</div>
{% endblock %}
