{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = 'Video link booking not available' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                {{ title }}
            </h1>

            <div class="govuk-body">
                <p>
                    There are no video link bookings available at that time in the rooms selected.
                </p>

                <p>
                    You can choose a different date or time or search using different rooms.
                </p>
            </div>

           {{ govukButton({
                text: "Search again",
                element: "a",
                href: continueLink,
                classes: 'govuk-button govuk-!-margin-top-6'
            }) }}
            
            {% if alternatives.length > 0 %}
                <hr class="govuk-section-break govuk-section-break--m">

                <h1 class="govuk-heading-m">Other available bookings in selected rooms</h1>
                {% for alternative in alternatives %}

                    {% set cellClasses = 'govuk-!-padding-bottom-0 govuk-!-width-one-half' %}
                    
                    {% set rows = [] %}
                    {% for row in alternative.rows %}
                        {% if row.name %}
                            {% set rows = (rows.push(
                                { 
                                    key:   { text: row.name, classes: cellClasses },
                                    value: { text: row.value, classes: cellClasses },
                                    classes: 'govuk-summary-list--no-border'
                                }
                            ), rows) %}
                        {% endif %}
                    {% endfor %}

                    {{ govukSummaryList({
                        rows: rows
                    }) }}

                    <form method="POST">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                        {% for name, value in alternative.values %}
                            <input type="hidden" name="{{name}}" value="{{value}}" />
                        {% endfor %}
                        {{ govukButton({ text: "Book video link", type: "submit", classes: 'govuk-button govuk-button--secondary', attributes: {'data-qa': 'option-' + loop.index} }) }}
                    </form>
                    
                    {% if not loop.last %}
                        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>
    </div>
{% endblock %}
