{% extends "../partials/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "components/timePicker/timePicker.njk" import timePicker %}
{% from "components/datePicker/datePicker.njk" import datePicker %}

{% set title = 'Search for a video link booking' %}

{% macro roomSelect(params) %}
    {{ govukSelect({
        name: params.name,
        id: params.name,
        label: {
            text: params.description
        },
        items: params.locations | toSelect('locationId', 'description', params.location),
        errorMessage: errors | findError(params.name)
    }) }}
{% endmacro %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                {{title}}
            </h1>

            {% if errors.length > 0 %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors,
                    attributes: { 'data-qa-errors': true }
                }) }}
            {% endif %}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {{ govukSummaryList({
                        classes: "govuk-summary-list--no-border",
                        rows: [
                            {
                                key: {
                                    text: "Name"
                                },
                                value: {
                                    text: offenderNameWithNumber
                                }
                            },
                            {
                                key: {
                                    text: "Prison"
                                },
                                value: {
                                    text: agencyDescription
                                }
                            }
                        ]
                    }) }}
                </div>
            </div>

            <form method="POST" novalidate="novalidate">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="bookingId" value="{{ bookingId }}">

                {% if courts.length === 1 %}
                    <input type="hidden" name="courtId" value="{{ courts[0].id }}" />
                    {{ govukSummaryList({
                        classes: "govuk-summary-list--no-border",
                        rows: [{
                            key: {
                                text: "Court",
                                classes: "govuk-summary-list__key qa-court-key govuk-!-padding-bottom-0 govuk-!-width-one-half"
                                },
                            value: {
                                text: courts[0].name,
                                classes: "govuk-summary-list__value qa-court-value govuk-!-padding-bottom-0 govuk-!-width-one-half"
                                }
                            }]
                    }) }}    
                {% else %}
                    {{ govukSelect({
                        name: "courtId",
                        id: "courtId",
                        classes: "qa-court-value",
                        label: {
                            text: "Which court is the hearing for?"
                        },
                        items: courts | toSelect('id', 'name', formValues.courtId),
                        errorMessage: errors | findError("courtId")
                    }) }}
                {% endif %}    

                {{ datePicker({
                    id: 'date',
                    label: 'Date',
                    name: 'date',
                    date: formValues.date,
                    errorMessage: errors | findError('date'),
                    attributes: {'data-disable-past-date':'true', 'data-add-appointment-date': 'true'},
                    classes: 'govuk-\!-width-one-fifth',
                    containerClass: 'govuk-\!-width-two-thirds'
                }) }}


                {{ timePicker({
                    id: 'start-time',
                    label: 'Court hearing start time',
                    name: 'startTime',
                    hour: formValues.startTimeHours,
                    minute: formValues.startTimeMinutes,
                    errorMessage: errors | findError('start-time-hours')
                }) }}

                {{ timePicker({
                    id: 'end-time',
                    label: 'Court hearing end time',
                    name: 'endTime',
                    hour: formValues.endTimeHours,
                    minute: formValues.endTimeMinutes,
                    errorMessage: errors | findError('end-time-hours')
                }) }}

                {{ roomSelect({
                    description: "Prison room for court hearing", 
                    name:"mainLocation",
                    locations: rooms, 
                    location: formValues.mainLocation
                    }) 
                }}
                {% set preLocationsHtml %}
                    {{ roomSelect({
                        description: "Prison room for pre-court hearing briefing", 
                        name: "preLocation",
                        locations: rooms, 
                        location: formValues.preLocation 
                    }) 
                }}
                {% endset -%}
                
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "pre-appointment-required",
                    name: "preRequired",
                    errorMessage: errors | findError('pre-appointment-required'),
                    fieldset: {
                        legend: {
                            text: "Do you want to add a pre-court hearing briefing?",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: [
                        {
                            value: "true",
                            text: "Yes",
                            checked: formValues.preRequired == 'true',
                            conditional: {
                                html: preLocationsHtml
                            }
                        },
                        {
                            value: "false",
                            text: "No",
                            checked: formValues.preRequired == 'false'
                        }
                    ]
                }) }}

                {% set postLocationsHtml %}
                    {{ roomSelect({
                        description: "Prison room for post-court hearing briefing", 
                        name:"postLocation",
                        locations: rooms, 
                        location: formValues.postLocation 
                        }) 
                    }}
                {% endset -%}

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "post-appointment-required",
                    name: "postRequired",
                    errorMessage: errors | findError('post-appointment-required'),
                    fieldset: {
                        legend: {
                            text: "Do you want to add a post-court hearing briefing?",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: [
                        {
                            value: "true",
                            text: "Yes",
                            checked: formValues.postRequired == 'true',
                            conditional: {
                                html: postLocationsHtml
                            }
                        },
                        {
                            value: "false",
                            text: "No",
                            checked: formValues.postRequired == 'false'
                        }
                    ]
                }) }}
                
                {{ govukButton({
                    text: "Continue",
                    type: "submit",
                    classes: "govuk-!-margin-right-2"
                }) }}

            </form>
        </div>
    </div>
{% endblock %}
