{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = 'Rooms you have selected are no longer available' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                {{ title }}
            </h1>

            <div class="govuk-body">
                <p>
                    One or more of the rooms you have selected are no longer available to book.
                </p>

                <p>
                    You must choose different rooms to complete your booking.
                </p>
            </div>

            {{ govukButton({
                text: "Continue",
                element: "a",
                href: continueLink
            }) }}

        </div>
    </div>
{% endblock %}
