{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set title = "The video link date and time is available" %}

{% block content %}
{% if errors.length > 0 %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors,
        attributes: { 'data-qa-errors': true }
    }) }}
{% endif %}

<h1 class="govuk-heading-l">{{title}}</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukSummaryList({
            classes: "govuk-summary-list--no-border",
            rows: offender | toSummaryViewModel | removePaddingBottom | longLabel
        }) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukSummaryList({
            classes: "govuk-summary-list--no-border",
            rows: details | toSummaryViewModel | removePaddingBottom | longLabel
        }) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukSummaryList({
            classes: "govuk-summary-list--no-border",
            rows: prePostData | toSummaryViewModel | removePaddingBottom | longLabel
        }) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {% if courts.length === 1 %}
                <input type="hidden" name="courtId" value="{{ courts | first | showValue }}" />
                    {{ govukSummaryList({
                        classes: "govuk-summary-list--no-border",
                        rows: [{
                            key: {
                                text: "Court",
                                classes: "govuk-summary-list__key qa-court-key govuk-!-padding-bottom-0 govuk-!-width-one-half"
                                },
                            value: {
                                text: courts | first | showText,
                                classes: "govuk-summary-list__value qa-court-value govuk-!-padding-bottom-0 govuk-!-width-one-half"
                                }
                            }]
                    }) }}    
                {% else %}
                    {{ govukSelect({
                        name: "courtId",
                        id: "courtId",
                        classes: "qa-court-value",
                        label: {
                            text: "Which court is the hearing for?"
                        },
                        items: courts | addDefaultSelectedVale('Select'),
                        errorMessage: errors | findError("courtId")
                    }) }}

                    {{ govukInsetText({
                        text: "Next you need to select the video link rooms in the prison."
                    }) }}
                {% endif %}
            {{ govukButton({ text: "Continue", type: 'submit' }) }}
        </form>
    </div>
</div>
{% endblock %}
